{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faperta</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <img  src="{% static "images/cropped-logofaperta.png" %}" alt="Faperta" width="100%">

</head>
<body>
    <h1>FAKULTAS Pertanian</h1>
    <h2>Terdiri dari beberapa prodi, yaitu:</h2>
    <p>Prodi Agroteknologi, Prodi Perikanan, Prodi Agrobisnis</p>
    <br>
    <h2>Daftar Nama Dosen FAPERTA</h2>
    <table class="table table-success table-striped"></table>
        <tr>
            <th>Nip</th>
            <th>Nama</th>
            <th>Tanggal_lahir</th>
            <th>Foto</th>
            <th>Email</th>
            <th>Prodi</th>
            <th>Alamat</th>
        </tr>
        {% for dosen in dataDosen %}
        <tr>
            <th>{{ dosen.nip }}</th>
            <th>{{ dosen.nama }}</th>
            <th>{{ dosen.tanggal_lahir }}</th>
            <th>{{ dosen.foto }}</th>
            <th>{{ dosen.email }}</th>
            <th>{{ dosen.prodi }}</th>
            <th>{{ dosen.alamat }}</th>
        </tr>
        {% endfor %}
    </table>

    <br>
    <h2>Daftar Nama Tenaga Pendidik FAPERTA</h2>
    <table class="table table-success table-striped">
        <tr>
            <th>Nip</th>
            <th>Nama</th>
            <th>Tanggal_lahir</th>
            <th>Foto</th>
            <th>Email</th>
            <th>Unit</th>
            <th>Alamat</th>
        </tr>
        {% for tenagapendidik in dataTenagaPendidik %}
        <tr>
            <th>{{ tenagapendidik.nip }}</th>
            <th>{{ tenagapendidik.nama }}</th>
            <th>{{ tenagapendidik.tanggal_lahir }}</th>
            <th>{{ tenagapendidik.foto }}</th>
            <th>{{ tenagapendidik.email }}</th>
            <th>{{ tenagapendidik.unit }}</th>
            <th>{{ tenagapendidik.alamat }}</th>
        </tr>
        {% endfor %}
    </table>

    <br>
    <h2>Daftar Nama Mahasiswa FAPERTA</h2>
    <table class="table table-success table-striped">
        <tr>
            <th>Nim</th>
            <th>Nama</th>
            <th>Tanggal_lahir</th>
            <th>Foto</th>
            <th>Email</th>
            <th>Prodi</th>
            <th>Alamat</th>
        </tr>
        {% for mahasiswa in dataMahasiswa %}
        <tr>
            <th>{{ mahasiswa.nim }}</th>
            <th>{{ mahasiswa.nama }}</th>
            <th>{{ mahasiswa.tanggal_lahir }}</th>
            <th>{{ mahasiswa.foto }}</th>
            <th>{{ mahasiswa.email }}</th>
            <th>{{ mahasiswa.prodi }}</th>
            <th>{{ mahasiswa.alamat }}</th>
        </tr>
        {% endfor %}
    </table>

    <br>
    <h2>Daftar Prodi yang ada didalam Fakultas FAPERTA</h2>
    <table class="table table-dark table-striped">
        <tr>
            <th>Prodi</th>
            <th>Jumlah_mahasiswa</th>
            <th>Dosen</th>
            <th>Jumlah_kelas</th>
            <th>Mata_kuliah</th>
        </tr>
        {% for prodi in dataProdi %}
        <tr>
            <td>{{ prodi.jumlah_mahasiswa }}</td>
            <td>{{ prodi.dosen }}</td>
            <td>{{ prodi.jumlah_kelas }}</td>
            <td>{{ prodi.mata_kuliah }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <h2>Daftar UKM yang terdapat didalam FAPERTA</h2>
    <table class="table table-dark table-striped">
        <tr>
            <th>Nama_UKM</th>
            <th>Jadwal_kumpulan</th>
            <th>Tanggal_berdirinya</th>
            <th>Tempat_kumpulan</th>
        </tr>
        {% for ukm in dataUkm %}
        <tr>
            <td>{{ ukm.nama_ukm }}</td>
            <td>{{ ukm.jadwal_kumpulan }}</td>
            <td>{{ ukm.tanggal_berdirinya }}</td>
            <td>{{ ukm.tempat_kumpulan }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <h2>Daftar Nilai Mahasiswa FAPERTA</h2>
    <table class="table table-dark table-striped">
        <tr>
            <th>Prodi</th>
            <th>Mata_kuliah</th>
            <th>Angkatan</th>
            <th>Semester</th>
            <th>Kelas</th>
            <th>Nama</th>
        </tr>
        {% for nilaimahasiswa in dataNilaiMahasiswa %}
        <tr>
            <td>{{ nilaimahasiswa.prodi }}</td>
            <td>{{ nilaimahasiswa.mata_kuliah }}</td>
            <td>{{ nilaimahasiswa.angkatan }}</td>
            <td>{{ nilaimahasiswa.semester }}</td>
            <td>{{ nilaimahasiswa.kelas }}</td>
            <td>{{ nilaimahasiswa.nama }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <h2>Daftar Jalur Masuk FAPERTA</h2>
    <table class="table table-dark table-striped">
        <tr>
            <th>Nama_Jalur</th>
            <th>Tanggal_Penerimaan</th>
            <th>Angkatan</th>
        </tr>
        {% for jalurmasuk in dataJalurMasuk %}
        <tr>
            <td>{{ jalurmasuk.nama_jalur }}</td>
            <td>{{ jalurmasuk.tanggal_penerimaan }}</td>
            <td>{{ jalurmasuk.angkatan }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <h2>Daftar Penerima Beasiswa FAPERTA</h2>
    <table class="table table-dark table-striped">
        <tr>
            <th>Nama</th>
            <th>Tanggal_Lahir</th>
            <th>Fakultas</th>
            <th>Prodi</th>
            <th>Angkatan</th>
            <th>Nama_Beasiswa</th>
        </tr>
        {% for penerimabeasiswa in dataPenerimaBeasiswa %}
        <tr>
            <td>{{ penerimabeasiswa.nama }}</td>
            <td>{{ penerimabeasiswa.tanggal_lahir }}</td>
            <td>{{ penerimabeasiswa.fakultas }}</td>
            <td>{{ penerimabeasiswa.prodi }}</td>
            <td>{{ penerimabeasiswa.angkatan }}</td>
            <td>{{ penerimabeasiswa.nama_beasiswa }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <h2>Daftar Nama Mahasiswa yang Mengikuti UKM di FAPERTA</h2>
    <table class="table table-dark table-striped">
        <tr>
            <th>Nama</th>
            <th>UKM</th>
            <th>Fakultas</th>
            <th>Prodi</th>
            <th>Kelas</th>
        </tr>
        {% for mahasiswaukm in dataMahasiswaUKM %}
        <tr>
            <td>{{ mahasiswaukm.nama }}</td>
            <td>{{ mahasiswaukm.ukm }}</td>
            <td>{{ mahasiswaukm.fakultas }}</td>
            <td>{{ mahasiswaukm.prodi }}</td>
            <td>{{ mahasiswaukm.kelas }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <br>
    <h2>Daftar Nilai Tertinggi Mahasiswa FAPERTA</h2>
    <table class="table table-dark table-striped">
        <tr>
            <th>Nama</th>
            <th>Mata_kuliah</th>
            <th>Angkatan</th>
            <th>Semester</th>
            <th>Kelas</th>
            <th>Prodi</th>
        </tr>
        {% for nilaitertinggi in dataNilaiTertinggi %}
        <tr>
            <td>{{ nilaitertinggi.nama }}</td>
            <td>{{ nilaitertinggi.mata_kuliah }}</td>
            <td>{{ nilaitertinggi.angkatan }}</td>
            <td>{{ nilaitertinggi.semester }}</td>
            <td>{{ nilaitertinggi.kelas }}</td>
            <td>{{ nilaitertinggi.prodi }}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>